/* ! reset css */

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* ? ****** generics ****** */
body{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

h6{
    font-size: 12px;
}

/* ***** utility ****** */

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
}

.text-w{
    color: white;
}

.text-g{
    color: rgb(154, 151, 151);
}


/* ! layout struttura principale */

.top-block{
    height: calc(100vh - 100px);
    overflow: auto;

    display: flex;
}

footer{
    height: 100px;
    background-color: rgb(40, 40, 40);
}

main{
    flex-grow: 1;
    overflow: auto;

    background-color: #141922;
}

.sidebar{
    flex-basis: 50px;
    flex-shrink: 0;

    background-color: black;
}

header{
    height: 100px;
    background-color: rgba(0, 0, 0, 0.5);

    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.upgrade{
    color: white;
    background-color: black;

    border: 1px solid white;
    border-radius: 30px;

    padding: 15px 45px;
    margin-right: 25px;

    cursor: pointer;
}

.upgrade:active{
    scale: 1.1;
}

/* ***** navbar ***** */

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    gap: 15px;

    list-style-type: none;
}

.navbar a{
    color: rgb(146, 145, 145);
    font-weight: 600;
    font-size: 14px;
    text-decoration: none;
}

.navbar li{
    margin-bottom: 10px;
}

/* ****** gallery section ***** */

.song img{
    max-width: 100%;
    display: block;
}

.gallery{
    display: flex;
    flex-wrap: wrap;

    margin: 0 -10px; 
}

.gallery .song{
    flex-basis: 50%;
    
    padding: 10px;
    
    text-align: center;
}

.circle{
    border-radius: 50%;
}

.circle img{
    border-radius: 50%;
}

.song figure{
    position: relative;
}

.player{
    display: none;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    cursor: pointer;

    background-color: rgba(0, 0, 0, 0.5);
}

.song figure:hover .player{
    display:flex
}